body
{
    background-color: whitesmoke;
}

nav {
    background-color: lightgray;
    padding: 10px;
}

ul {
    list-style-type: none;
    color: inherit;
}

li a {
    color: inherit;
}

#PersonalInfo {
    float: left;
    width: 275px;
    padding: 15px;
    margin: 25px;
}
#education {
    float: left;
    width: 250px;
    padding: 15px;
    margin: 25px;
}