body {
    background-color: whitesmoke;
}

nav {
    background-color: lightgray;
    padding: 10px;
}

.navbar {
    list-style-type: none;
    color: inherit;
}

li a {
    color: inherit;
}

a {
    color: inherit;
}
#hardskills{
    width: 350px;
    border:5px solid black;
    float: left;
    padding: 15px;
    margin: 25px;
}
#softskills{
    width: 350px;
    border: 5px solid black;
    float: left;
    padding: 15px;
    margin: 25px;
}