body {
    background-color: whitesmoke;
}

nav {
    background-color: lightgray;
    padding: 10px;
}

.navbar {
    list-style-type: none;
    color: inherit;
}

li a {
    color: inherit;
}

a {
    color: inherit;
}
