body{
    background-color:whitesmoke;
}


nav
{
    background-color: lightgray;
    padding: 10px;
}

ul{
    list-style-type:none;
    color:inherit;
}
li a{
    color:inherit;
}


#Purpose{
    float:left;
    width: 250px;
    padding: 15px;
    margin: 25px;
}
#Intro {
    float: left;
    width: 250px;
    padding: 15px;
    margin: 25px;
}
img{
    height: 200px;
    width: 150px;
    padding: 15px;
    float: left;
}