body{
    background-color:lightgray;
}


nav
{
    background-color: whitesmoke;
    padding: 10px;
}

ul{
    list-style-type:none;
}

#Purpose{
    float:left;
}
#Intro{
    float:left;
}
img{
    height: 100px;
    width: 75px;
    float: right;
}