body{
    background-color:whitesmoke;
}


nav
{
    background-color: lightgray;
    padding: 10px;
}

ul{
    list-style-type:none;
    color:inherit;
}

.home{
    padding: 50px;
}
#Purpose{
    float:left;
}
#Intro{
    float:left;
}
img{
    height: 100px;
    width: 75px;
    float: right;
}